<a href="https://colab.research.google.com/github/bmt0106/bmt_python/blob/main/test/21500_10%EC%A3%BC%EC%B0%A8%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [12]:
# 1. Series 생성

s = pd.Series( [1, 3, 5, np.nan, 6, 8]  )
a = [1, 3, 5, np.nan, 6, 8]
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [13]:
type(s)

pandas.core.series.Series

In [14]:
type(a)

list

In [15]:
dates = pd.date_range('20210507', periods=6)
dates

DatetimeIndex(['2021-05-07', '2021-05-08', '2021-05-09', '2021-05-10',
               '2021-05-11', '2021-05-12'],
              dtype='datetime64[ns]', freq='D')

In [16]:
df = pd.DataFrame(np.random.randn(6,4))
df

          0         1         2         3
0 -1.398844  0.699750 -0.585379  0.007927
1  1.202864  0.685467 -2.191255  0.621019
2 -1.898055 -2.053655  0.572131  0.926257
3 -0.719645 -1.150385  0.423665 -0.234236
4 -1.677089 -2.991081  0.899581 -0.567262
5 -2.084791 -0.260612  0.422506  1.111862

In [17]:
df = pd.DataFrame(np.random.randn(6,4), index=dates)
df

                   0         1         2         3
2021-05-07  2.019251  0.138365  0.871767  0.494140
2021-05-08 -2.457761  1.791337  0.188741  0.886687
2021-05-09 -0.320288 -0.441777 -1.020365  0.270448
2021-05-10  0.650549  0.509276 -1.935064  1.162976
2021-05-11 -0.441766  1.106635  0.828455 -0.865695
2021-05-12 -0.546669  1.200694 -0.109476 -0.254401

In [19]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=['국어','영어','수학','물리'])
df

                  국어        영어        수학        물리
2021-05-07 -1.066044  1.522275 -0.545770 -2.601582
2021-05-08 -0.949822  1.541957 -0.751442 -1.614985
2021-05-09  0.399944  0.096554  0.976068 -0.477701
2021-05-10  0.919186  1.438829 -1.680019 -2.447819
2021-05-11 -2.013705  0.568707  1.809828  0.503497
2021-05-12  1.363150  1.002446  1.016609 -2.227253

In [22]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2021-05-07 -1.533255  0.388405  0.068276 -0.312922
2021-05-08 -1.106509 -1.601579  1.186206 -1.339727
2021-05-09  0.589555  0.657157  0.686625 -1.090934
2021-05-10  0.140175 -0.116257 -0.937970  0.500341
2021-05-11 -1.416478  0.542964 -0.150942  0.498580
2021-05-12 -1.248686  0.715119 -1.298888 -0.878634

In [25]:
df2 = pd.DataFrame(
    {
        'A': 1.,
        'B': pd.Timestamp('20210507'),
        'C': pd.Series(1, index=list(range(4)), dtype='float32'),
        'D': np.array([3]*4, dtype='int32'),
        'E': pd.Categorical(['test','train','test','train']),
        'F': 'foo'
    }
)
df2

     A          B    C  D      E    F
0  1.0 2021-05-07  1.0  3   test  foo
1  1.0 2021-05-07  1.0  3  train  foo
2  1.0 2021-05-07  1.0  3   test  foo
3  1.0 2021-05-07  1.0  3  train  foo

In [26]:
df

                   A         B         C         D
2021-05-07 -1.533255  0.388405  0.068276 -0.312922
2021-05-08 -1.106509 -1.601579  1.186206 -1.339727
2021-05-09  0.589555  0.657157  0.686625 -1.090934
2021-05-10  0.140175 -0.116257 -0.937970  0.500341
2021-05-11 -1.416478  0.542964 -0.150942  0.498580
2021-05-12 -1.248686  0.715119 -1.298888 -0.878634

In [27]:
df.head()

                   A         B         C         D
2021-05-07 -1.533255  0.388405  0.068276 -0.312922
2021-05-08 -1.106509 -1.601579  1.186206 -1.339727
2021-05-09  0.589555  0.657157  0.686625 -1.090934
2021-05-10  0.140175 -0.116257 -0.937970  0.500341
2021-05-11 -1.416478  0.542964 -0.150942  0.498580

In [28]:
df.tail()

                   A         B         C         D
2021-05-08 -1.106509 -1.601579  1.186206 -1.339727
2021-05-09  0.589555  0.657157  0.686625 -1.090934
2021-05-10  0.140175 -0.116257 -0.937970  0.500341
2021-05-11 -1.416478  0.542964 -0.150942  0.498580
2021-05-12 -1.248686  0.715119 -1.298888 -0.878634

In [29]:
df

                   A         B         C         D
2021-05-07 -1.533255  0.388405  0.068276 -0.312922
2021-05-08 -1.106509 -1.601579  1.186206 -1.339727
2021-05-09  0.589555  0.657157  0.686625 -1.090934
2021-05-10  0.140175 -0.116257 -0.937970  0.500341
2021-05-11 -1.416478  0.542964 -0.150942  0.498580
2021-05-12 -1.248686  0.715119 -1.298888 -0.878634

In [30]:
df.head(1)

                   A         B         C         D
2021-05-07 -1.533255  0.388405  0.068276 -0.312922

In [31]:
df.tail(2)

                   A         B         C         D
2021-05-11 -1.416478  0.542964 -0.150942  0.498580
2021-05-12 -1.248686  0.715119 -1.298888 -0.878634

In [32]:
df

                   A         B         C         D
2021-05-07 -1.533255  0.388405  0.068276 -0.312922
2021-05-08 -1.106509 -1.601579  1.186206 -1.339727
2021-05-09  0.589555  0.657157  0.686625 -1.090934
2021-05-10  0.140175 -0.116257 -0.937970  0.500341
2021-05-11 -1.416478  0.542964 -0.150942  0.498580
2021-05-12 -1.248686  0.715119 -1.298888 -0.878634

In [33]:
df.index

DatetimeIndex(['2021-05-07', '2021-05-08', '2021-05-09', '2021-05-10',
               '2021-05-11', '2021-05-12'],
              dtype='datetime64[ns]', freq='D')

In [34]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [35]:
df.values

array([[-1.53325473,  0.38840491,  0.06827605, -0.31292209],
       [-1.10650946, -1.60157892,  1.18620598, -1.33972727],
       [ 0.58955478,  0.65715695,  0.68662546, -1.09093445],
       [ 0.14017462, -0.11625748, -0.93796983,  0.50034083],
       [-1.4164776 ,  0.54296417, -0.1509416 ,  0.49858009],
       [-1.24868577,  0.71511852, -1.29888761, -0.878634  ]])

In [36]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.762533  0.097635 -0.074449 -0.437216
std    0.896587  0.884341  0.942298  0.800862
min   -1.533255 -1.601579 -1.298888 -1.339727
25%   -1.374530  0.009908 -0.741213 -1.037859
50%   -1.177598  0.465685 -0.041333 -0.595778
75%   -0.171496  0.628609  0.532038  0.295705
max    0.589555  0.715119  1.186206  0.500341

In [37]:
df

                   A         B         C         D
2021-05-07 -1.533255  0.388405  0.068276 -0.312922
2021-05-08 -1.106509 -1.601579  1.186206 -1.339727
2021-05-09  0.589555  0.657157  0.686625 -1.090934
2021-05-10  0.140175 -0.116257 -0.937970  0.500341
2021-05-11 -1.416478  0.542964 -0.150942  0.498580
2021-05-12 -1.248686  0.715119 -1.298888 -0.878634

In [38]:
df.T

   2021-05-07  2021-05-08  2021-05-09  2021-05-10  2021-05-11  2021-05-12
A   -1.533255   -1.106509    0.589555    0.140175   -1.416478   -1.248686
B    0.388405   -1.601579    0.657157   -0.116257    0.542964    0.715119
C    0.068276    1.186206    0.686625   -0.937970   -0.150942   -1.298888
D   -0.312922   -1.339727   -1.090934    0.500341    0.498580   -0.878634

In [39]:
df

                   A         B         C         D
2021-05-07 -1.533255  0.388405  0.068276 -0.312922
2021-05-08 -1.106509 -1.601579  1.186206 -1.339727
2021-05-09  0.589555  0.657157  0.686625 -1.090934
2021-05-10  0.140175 -0.116257 -0.937970  0.500341
2021-05-11 -1.416478  0.542964 -0.150942  0.498580
2021-05-12 -1.248686  0.715119 -1.298888 -0.878634

In [41]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2021-05-07 -0.312922  0.068276  0.388405 -1.533255
2021-05-08 -1.339727  1.186206 -1.601579 -1.106509
2021-05-09 -1.090934  0.686625  0.657157  0.589555
2021-05-10  0.500341 -0.937970 -0.116257  0.140175
2021-05-11  0.498580 -0.150942  0.542964 -1.416478
2021-05-12 -0.878634 -1.298888  0.715119 -1.248686

In [43]:
df.sort_index(axis=0, ascending=False)

                   A         B         C         D
2021-05-12 -1.248686  0.715119 -1.298888 -0.878634
2021-05-11 -1.416478  0.542964 -0.150942  0.498580
2021-05-10  0.140175 -0.116257 -0.937970  0.500341
2021-05-09  0.589555  0.657157  0.686625 -1.090934
2021-05-08 -1.106509 -1.601579  1.186206 -1.339727
2021-05-07 -1.533255  0.388405  0.068276 -0.312922

In [44]:
df

                   A         B         C         D
2021-05-07 -1.533255  0.388405  0.068276 -0.312922
2021-05-08 -1.106509 -1.601579  1.186206 -1.339727
2021-05-09  0.589555  0.657157  0.686625 -1.090934
2021-05-10  0.140175 -0.116257 -0.937970  0.500341
2021-05-11 -1.416478  0.542964 -0.150942  0.498580
2021-05-12 -1.248686  0.715119 -1.298888 -0.878634

In [45]:
df.sort_values(by='B')

                   A         B         C         D
2021-05-08 -1.106509 -1.601579  1.186206 -1.339727
2021-05-10  0.140175 -0.116257 -0.937970  0.500341
2021-05-07 -1.533255  0.388405  0.068276 -0.312922
2021-05-11 -1.416478  0.542964 -0.150942  0.498580
2021-05-09  0.589555  0.657157  0.686625 -1.090934
2021-05-12 -1.248686  0.715119 -1.298888 -0.878634

In [46]:
df

                   A         B         C         D
2021-05-07 -1.533255  0.388405  0.068276 -0.312922
2021-05-08 -1.106509 -1.601579  1.186206 -1.339727
2021-05-09  0.589555  0.657157  0.686625 -1.090934
2021-05-10  0.140175 -0.116257 -0.937970  0.500341
2021-05-11 -1.416478  0.542964 -0.150942  0.498580
2021-05-12 -1.248686  0.715119 -1.298888 -0.878634

In [47]:
df['A']

2021-05-07   -1.533255
2021-05-08   -1.106509
2021-05-09    0.589555
2021-05-10    0.140175
2021-05-11   -1.416478
2021-05-12   -1.248686
Freq: D, Name: A, dtype: float64

In [48]:
df['B']

2021-05-07    0.388405
2021-05-08   -1.601579
2021-05-09    0.657157
2021-05-10   -0.116257
2021-05-11    0.542964
2021-05-12    0.715119
Freq: D, Name: B, dtype: float64

In [52]:
# df[ 열 인덱스 ]
# df['A']
# df[ ['A', 'C']   ]
df[['B','C','D']]

                   B         C         D
2021-05-07  0.388405  0.068276 -0.312922
2021-05-08 -1.601579  1.186206 -1.339727
2021-05-09  0.657157  0.686625 -1.090934
2021-05-10 -0.116257 -0.937970  0.500341
2021-05-11  0.542964 -0.150942  0.498580
2021-05-12  0.715119 -1.298888 -0.878634

In [53]:
df

                   A         B         C         D
2021-05-07 -1.533255  0.388405  0.068276 -0.312922
2021-05-08 -1.106509 -1.601579  1.186206 -1.339727
2021-05-09  0.589555  0.657157  0.686625 -1.090934
2021-05-10  0.140175 -0.116257 -0.937970  0.500341
2021-05-11 -1.416478  0.542964 -0.150942  0.498580
2021-05-12 -1.248686  0.715119 -1.298888 -0.878634

In [60]:
print(df[0:3])
print(df['20210507':'20210509'])
print(df[['A','B','C']])

                   A         B         C         D
2021-05-07 -1.533255  0.388405  0.068276 -0.312922
2021-05-08 -1.106509 -1.601579  1.186206 -1.339727
2021-05-09  0.589555  0.657157  0.686625 -1.090934
                   A         B         C         D
2021-05-07 -1.533255  0.388405  0.068276 -0.312922
2021-05-08 -1.106509 -1.601579  1.186206 -1.339727
2021-05-09  0.589555  0.657157  0.686625 -1.090934
                   A         B         C
2021-05-07 -1.533255  0.388405  0.068276
2021-05-08 -1.106509 -1.601579  1.186206
2021-05-09  0.589555  0.657157  0.686625
2021-05-10  0.140175 -0.116257 -0.937970
2021-05-11 -1.416478  0.542964 -0.150942
2021-05-12 -1.248686  0.715119 -1.298888

In [61]:
df

                   A         B         C         D
2021-05-07 -1.533255  0.388405  0.068276 -0.312922
2021-05-08 -1.106509 -1.601579  1.186206 -1.339727
2021-05-09  0.589555  0.657157  0.686625 -1.090934
2021-05-10  0.140175 -0.116257 -0.937970  0.500341
2021-05-11 -1.416478  0.542964 -0.150942  0.498580
2021-05-12 -1.248686  0.715119 -1.298888 -0.878634

In [67]:
df.loc['20210507':'20210508',['A','C']]

                   A         C
2021-05-07 -1.533255  0.068276
2021-05-08 -1.106509  1.186206

In [76]:
df.iloc[1:3,0:2]

                   A         B
2021-05-08 -1.106509 -1.601579
2021-05-09  0.589555  0.657157

In [77]:
# df.iloc[행, 열]
# df.iloc[0:3, 1:3]
# df.iloc[ [0,3], [1,4] ]
df.iloc[0:3,1:3]

                   B         C
2021-05-07  0.388405  0.068276
2021-05-08 -1.601579  1.186206
2021-05-09  0.657157  0.686625

In [78]:
df.iloc[[0,3],[1,3]]

                   B         D
2021-05-07  0.388405 -0.312922
2021-05-10 -0.116257  0.500341

In [80]:
df

                   A         B         C         D
2021-05-07 -1.533255  0.388405  0.068276 -0.312922
2021-05-08 -1.106509 -1.601579  1.186206 -1.339727
2021-05-09  0.589555  0.657157  0.686625 -1.090934
2021-05-10  0.140175 -0.116257 -0.937970  0.500341
2021-05-11 -1.416478  0.542964 -0.150942  0.498580
2021-05-12 -1.248686  0.715119 -1.298888 -0.878634

In [82]:
df.iloc[3,2]

-0.9379698252005554

In [83]:
df.iloc[[1,3],[1,3]]

                   B         D
2021-05-08 -1.601579 -1.339727
2021-05-10 -0.116257  0.500341

In [84]:
df.iloc[0:2,1:3]

                   B         C
2021-05-07  0.388405  0.068276
2021-05-08 -1.601579  1.186206

In [85]:
df

                   A         B         C         D
2021-05-07 -1.533255  0.388405  0.068276 -0.312922
2021-05-08 -1.106509 -1.601579  1.186206 -1.339727
2021-05-09  0.589555  0.657157  0.686625 -1.090934
2021-05-10  0.140175 -0.116257 -0.937970  0.500341
2021-05-11 -1.416478  0.542964 -0.150942  0.498580
2021-05-12 -1.248686  0.715119 -1.298888 -0.878634

In [87]:
df.A

2021-05-07   -1.533255
2021-05-08   -1.106509
2021-05-09    0.589555
2021-05-10    0.140175
2021-05-11   -1.416478
2021-05-12   -1.248686
Freq: D, Name: A, dtype: float64

In [92]:
df.A > 0.5

2021-05-07    False
2021-05-08    False
2021-05-09     True
2021-05-10    False
2021-05-11    False
2021-05-12    False
Freq: D, Name: A, dtype: bool

In [93]:
df[  df.A > 0.5       ]

                   A         B         C         D
2021-05-09  0.589555  0.657157  0.686625 -1.090934

In [94]:
df

                   A         B         C         D
2021-05-07 -1.533255  0.388405  0.068276 -0.312922
2021-05-08 -1.106509 -1.601579  1.186206 -1.339727
2021-05-09  0.589555  0.657157  0.686625 -1.090934
2021-05-10  0.140175 -0.116257 -0.937970  0.500341
2021-05-11 -1.416478  0.542964 -0.150942  0.498580
2021-05-12 -1.248686  0.715119 -1.298888 -0.878634

In [95]:
df > 0

                A      B      C      D
2021-05-07  False   True   True  False
2021-05-08  False  False   True  False
2021-05-09   True   True   True  False
2021-05-10   True  False  False   True
2021-05-11  False   True  False   True
2021-05-12  False   True  False  False

In [96]:
df[df>0]

                   A         B         C         D
2021-05-07       NaN  0.388405  0.068276       NaN
2021-05-08       NaN       NaN  1.186206       NaN
2021-05-09  0.589555  0.657157  0.686625       NaN
2021-05-10  0.140175       NaN       NaN  0.500341
2021-05-11       NaN  0.542964       NaN  0.498580
2021-05-12       NaN  0.715119       NaN       NaN

In [99]:
df2 = df.copy()

In [100]:
df2

                   A         B         C         D
2021-05-07 -1.533255  0.388405  0.068276 -0.312922
2021-05-08 -1.106509 -1.601579  1.186206 -1.339727
2021-05-09  0.589555  0.657157  0.686625 -1.090934
2021-05-10  0.140175 -0.116257 -0.937970  0.500341
2021-05-11 -1.416478  0.542964 -0.150942  0.498580
2021-05-12 -1.248686  0.715119 -1.298888 -0.878634

In [105]:
df2['E'] =  ['one', 'one', 'two', 'three', 'four', 'three']

In [106]:
df2

                   A         B         C         D      E
2021-05-07 -1.533255  0.388405  0.068276 -0.312922    one
2021-05-08 -1.106509 -1.601579  1.186206 -1.339727    one
2021-05-09  0.589555  0.657157  0.686625 -1.090934    two
2021-05-10  0.140175 -0.116257 -0.937970  0.500341  three
2021-05-11 -1.416478  0.542964 -0.150942  0.498580   four
2021-05-12 -1.248686  0.715119 -1.298888 -0.878634  three

In [110]:
df2[df2['E'].isin(['three'])]

                   A         B         C         D      E
2021-05-10  0.140175 -0.116257 -0.937970  0.500341  three
2021-05-12 -1.248686  0.715119 -1.298888 -0.878634  three

In [111]:
df

                   A         B         C         D
2021-05-07 -1.533255  0.388405  0.068276 -0.312922
2021-05-08 -1.106509 -1.601579  1.186206 -1.339727
2021-05-09  0.589555  0.657157  0.686625 -1.090934
2021-05-10  0.140175 -0.116257 -0.937970  0.500341
2021-05-11 -1.416478  0.542964 -0.150942  0.498580
2021-05-12 -1.248686  0.715119 -1.298888 -0.878634

In [112]:
s1 = pd.Series([1, 2, 3, 4, 5, 6], index=pd.date_range('20210507', periods=6))

In [113]:
df['F'] = s1

In [114]:
df

                   A         B         C         D  F
2021-05-07 -1.533255  0.388405  0.068276 -0.312922  1
2021-05-08 -1.106509 -1.601579  1.186206 -1.339727  2
2021-05-09  0.589555  0.657157  0.686625 -1.090934  3
2021-05-10  0.140175 -0.116257 -0.937970  0.500341  4
2021-05-11 -1.416478  0.542964 -0.150942  0.498580  5
2021-05-12 -1.248686  0.715119 -1.298888 -0.878634  6

In [116]:
df[df>0] = -df

In [117]:
df

                   A         B         C         D  F
2021-05-07 -1.533255 -0.388405 -0.068276 -0.312922 -1
2021-05-08 -1.106509 -1.601579 -1.186206 -1.339727 -2
2021-05-09 -0.589555 -0.657157 -0.686625 -1.090934 -3
2021-05-10 -0.140175 -0.116257 -0.937970 -0.500341 -4
2021-05-11 -1.416478 -0.542964 -0.150942 -0.498580 -5
2021-05-12 -1.248686 -0.715119 -1.298888 -0.878634 -6