<a href="https://colab.research.google.com/github/bmt0106/bmt_python/blob/main/21400_9%EC%A3%BC%EC%B0%A8%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
s = pd.Series(  [1, 2, 5, np.nan, 6, 8   ]   )

In [3]:
s

0    1.0
1    2.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [4]:
type(s)

pandas.core.series.Series

In [9]:
dates = pd.date_range('20210430', periods=6)

In [10]:
dates

DatetimeIndex(['2021-04-30', '2021-05-01', '2021-05-02', '2021-05-03',
               '2021-05-04', '2021-05-05'],
              dtype='datetime64[ns]', freq='D')

In [11]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [12]:
df

                   A         B         C         D
2021-04-30 -0.402876  1.205379 -2.455459 -3.014287
2021-05-01  0.410843 -1.670028 -0.054530  0.581192
2021-05-02  0.354471  1.276734 -1.600181 -0.763117
2021-05-03 -0.973903 -0.173350 -1.493612  0.499010
2021-05-04 -0.398096  1.286313  0.661230 -0.624158
2021-05-05  0.298105  0.504051  0.063373 -0.730589

In [18]:
df2 = pd.DataFrame(
    {
        'A':1.,
        'B':pd.Timestamp('20210430'),
        'C':pd.Series(1, index=list(range(4)), dtype='float32'),
        'D':np.array([3]*4, dtype='int32'),
        'E':pd.Categorical(['test','train','test','train']),
        'F':'foo'
    }
)

In [19]:
df2

     A          B    C  D      E    F
0  1.0 2021-04-30  1.0  3   test  foo
1  1.0 2021-04-30  1.0  3  train  foo
2  1.0 2021-04-30  1.0  3   test  foo
3  1.0 2021-04-30  1.0  3  train  foo

In [20]:
type(df2)

pandas.core.frame.DataFrame

In [21]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [22]:
dates

DatetimeIndex(['2021-04-30', '2021-05-01', '2021-05-02', '2021-05-03',
               '2021-05-04', '2021-05-05'],
              dtype='datetime64[ns]', freq='D')

In [23]:
df

                   A         B         C         D
2021-04-30 -0.402876  1.205379 -2.455459 -3.014287
2021-05-01  0.410843 -1.670028 -0.054530  0.581192
2021-05-02  0.354471  1.276734 -1.600181 -0.763117
2021-05-03 -0.973903 -0.173350 -1.493612  0.499010
2021-05-04 -0.398096  1.286313  0.661230 -0.624158
2021-05-05  0.298105  0.504051  0.063373 -0.730589

In [28]:
df.head(1)

                   A         B         C         D
2021-04-30 -0.402876  1.205379 -2.455459 -3.014287

In [27]:
df.tail(2)

                   A         B         C         D
2021-05-04 -0.398096  1.286313  0.661230 -0.624158
2021-05-05  0.298105  0.504051  0.063373 -0.730589

In [29]:
df

                   A         B         C         D
2021-04-30 -0.402876  1.205379 -2.455459 -3.014287
2021-05-01  0.410843 -1.670028 -0.054530  0.581192
2021-05-02  0.354471  1.276734 -1.600181 -0.763117
2021-05-03 -0.973903 -0.173350 -1.493612  0.499010
2021-05-04 -0.398096  1.286313  0.661230 -0.624158
2021-05-05  0.298105  0.504051  0.063373 -0.730589

In [30]:
df.index

DatetimeIndex(['2021-04-30', '2021-05-01', '2021-05-02', '2021-05-03',
               '2021-05-04', '2021-05-05'],
              dtype='datetime64[ns]', freq='D')

In [31]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [32]:
df.values

array([[-0.40287563,  1.20537875, -2.45545866, -3.01428678],
       [ 0.41084291, -1.67002784, -0.05452985,  0.58119206],
       [ 0.35447102,  1.27673425, -1.60018124, -0.76311734],
       [-0.97390306, -0.17335006, -1.49361187,  0.49901045],
       [-0.3980964 ,  1.28631265,  0.66122983, -0.62415804],
       [ 0.29810497,  0.50405066,  0.06337283, -0.73058912]])

In [33]:
df

                   A         B         C         D
2021-04-30 -0.402876  1.205379 -2.455459 -3.014287
2021-05-01  0.410843 -1.670028 -0.054530  0.581192
2021-05-02  0.354471  1.276734 -1.600181 -0.763117
2021-05-03 -0.973903 -0.173350 -1.493612  0.499010
2021-05-04 -0.398096  1.286313  0.661230 -0.624158
2021-05-05  0.298105  0.504051  0.063373 -0.730589

In [34]:
df.T

   2021-04-30  2021-05-01  2021-05-02  2021-05-03  2021-05-04  2021-05-05
A   -0.402876    0.410843    0.354471   -0.973903   -0.398096    0.298105
B    1.205379   -1.670028    1.276734   -0.173350    1.286313    0.504051
C   -2.455459   -0.054530   -1.600181   -1.493612    0.661230    0.063373
D   -3.014287    0.581192   -0.763117    0.499010   -0.624158   -0.730589

In [35]:
df

                   A         B         C         D
2021-04-30 -0.402876  1.205379 -2.455459 -3.014287
2021-05-01  0.410843 -1.670028 -0.054530  0.581192
2021-05-02  0.354471  1.276734 -1.600181 -0.763117
2021-05-03 -0.973903 -0.173350 -1.493612  0.499010
2021-05-04 -0.398096  1.286313  0.661230 -0.624158
2021-05-05  0.298105  0.504051  0.063373 -0.730589

In [37]:
df.sort_index(axis=0, ascending=True)

                   A         B         C         D
2021-04-30 -0.402876  1.205379 -2.455459 -3.014287
2021-05-01  0.410843 -1.670028 -0.054530  0.581192
2021-05-02  0.354471  1.276734 -1.600181 -0.763117
2021-05-03 -0.973903 -0.173350 -1.493612  0.499010
2021-05-04 -0.398096  1.286313  0.661230 -0.624158
2021-05-05  0.298105  0.504051  0.063373 -0.730589

In [38]:
df.sort_index(axis=0, ascending=False)

                   A         B         C         D
2021-05-05  0.298105  0.504051  0.063373 -0.730589
2021-05-04 -0.398096  1.286313  0.661230 -0.624158
2021-05-03 -0.973903 -0.173350 -1.493612  0.499010
2021-05-02  0.354471  1.276734 -1.600181 -0.763117
2021-05-01  0.410843 -1.670028 -0.054530  0.581192
2021-04-30 -0.402876  1.205379 -2.455459 -3.014287

In [39]:
df.sort_index(axis=1, ascending=True)

                   A         B         C         D
2021-04-30 -0.402876  1.205379 -2.455459 -3.014287
2021-05-01  0.410843 -1.670028 -0.054530  0.581192
2021-05-02  0.354471  1.276734 -1.600181 -0.763117
2021-05-03 -0.973903 -0.173350 -1.493612  0.499010
2021-05-04 -0.398096  1.286313  0.661230 -0.624158
2021-05-05  0.298105  0.504051  0.063373 -0.730589

In [40]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2021-04-30 -3.014287 -2.455459  1.205379 -0.402876
2021-05-01  0.581192 -0.054530 -1.670028  0.410843
2021-05-02 -0.763117 -1.600181  1.276734  0.354471
2021-05-03  0.499010 -1.493612 -0.173350 -0.973903
2021-05-04 -0.624158  0.661230  1.286313 -0.398096
2021-05-05 -0.730589  0.063373  0.504051  0.298105

In [41]:
df

                   A         B         C         D
2021-04-30 -0.402876  1.205379 -2.455459 -3.014287
2021-05-01  0.410843 -1.670028 -0.054530  0.581192
2021-05-02  0.354471  1.276734 -1.600181 -0.763117
2021-05-03 -0.973903 -0.173350 -1.493612  0.499010
2021-05-04 -0.398096  1.286313  0.661230 -0.624158
2021-05-05  0.298105  0.504051  0.063373 -0.730589

In [42]:
df.sort_values(by='B')

                   A         B         C         D
2021-05-01  0.410843 -1.670028 -0.054530  0.581192
2021-05-03 -0.973903 -0.173350 -1.493612  0.499010
2021-05-05  0.298105  0.504051  0.063373 -0.730589
2021-04-30 -0.402876  1.205379 -2.455459 -3.014287
2021-05-02  0.354471  1.276734 -1.600181 -0.763117
2021-05-04 -0.398096  1.286313  0.661230 -0.624158

In [43]:
dates

DatetimeIndex(['2021-04-30', '2021-05-01', '2021-05-02', '2021-05-03',
               '2021-05-04', '2021-05-05'],
              dtype='datetime64[ns]', freq='D')

In [44]:
df

                   A         B         C         D
2021-04-30 -0.402876  1.205379 -2.455459 -3.014287
2021-05-01  0.410843 -1.670028 -0.054530  0.581192
2021-05-02  0.354471  1.276734 -1.600181 -0.763117
2021-05-03 -0.973903 -0.173350 -1.493612  0.499010
2021-05-04 -0.398096  1.286313  0.661230 -0.624158
2021-05-05  0.298105  0.504051  0.063373 -0.730589

In [47]:
df['C']

2021-04-30   -2.455459
2021-05-01   -0.054530
2021-05-02   -1.600181
2021-05-03   -1.493612
2021-05-04    0.661230
2021-05-05    0.063373
Freq: D, Name: C, dtype: float64

In [52]:
df[['A','B','D']]

                   A         B         D
2021-04-30 -0.402876  1.205379 -3.014287
2021-05-01  0.410843 -1.670028  0.581192
2021-05-02  0.354471  1.276734 -0.763117
2021-05-03 -0.973903 -0.173350  0.499010
2021-05-04 -0.398096  1.286313 -0.624158
2021-05-05  0.298105  0.504051 -0.730589

In [53]:
df

                   A         B         C         D
2021-04-30 -0.402876  1.205379 -2.455459 -3.014287
2021-05-01  0.410843 -1.670028 -0.054530  0.581192
2021-05-02  0.354471  1.276734 -1.600181 -0.763117
2021-05-03 -0.973903 -0.173350 -1.493612  0.499010
2021-05-04 -0.398096  1.286313  0.661230 -0.624158
2021-05-05  0.298105  0.504051  0.063373 -0.730589

In [56]:
df[0:1]

                   A         B         C         D
2021-04-30 -0.402876  1.205379 -2.455459 -3.014287

In [62]:
df['20210430':'20210430']

                   A         B         C         D
2021-04-30 -0.402876  1.205379 -2.455459 -3.014287

In [63]:
df

                   A         B         C         D
2021-04-30 -0.402876  1.205379 -2.455459 -3.014287
2021-05-01  0.410843 -1.670028 -0.054530  0.581192
2021-05-02  0.354471  1.276734 -1.600181 -0.763117
2021-05-03 -0.973903 -0.173350 -1.493612  0.499010
2021-05-04 -0.398096  1.286313  0.661230 -0.624158
2021-05-05  0.298105  0.504051  0.063373 -0.730589

In [69]:
df.loc['20210430']

A   -0.402876
B    1.205379
C   -2.455459
D   -3.014287
Name: 2021-04-30 00:00:00, dtype: float64

In [70]:
df['A']

2021-04-30   -0.402876
2021-05-01    0.410843
2021-05-02    0.354471
2021-05-03   -0.973903
2021-05-04   -0.398096
2021-05-05    0.298105
Freq: D, Name: A, dtype: float64

In [71]:
df.loc[dates[0]]

A   -0.402876
B    1.205379
C   -2.455459
D   -3.014287
Name: 2021-04-30 00:00:00, dtype: float64

In [72]:
# df.loc[행, 열]
# 행 => :
df.loc[:,'A']

2021-04-30   -0.402876
2021-05-01    0.410843
2021-05-02    0.354471
2021-05-03   -0.973903
2021-05-04   -0.398096
2021-05-05    0.298105
Freq: D, Name: A, dtype: float64

In [74]:
df.loc['20210430':'20210503','A']

2021-04-30   -0.402876
2021-05-01    0.410843
2021-05-02    0.354471
2021-05-03   -0.973903
Freq: D, Name: A, dtype: float64

In [75]:
df.loc['20210430':'20210503',['A', 'C', 'D']]

                   A         C         D
2021-04-30 -0.402876 -2.455459 -3.014287
2021-05-01  0.410843 -0.054530  0.581192
2021-05-02  0.354471 -1.600181 -0.763117
2021-05-03 -0.973903 -1.493612  0.499010

In [76]:
df.at[dates[0],'A']

-0.40287562717713826

In [77]:
df

                   A         B         C         D
2021-04-30 -0.402876  1.205379 -2.455459 -3.014287
2021-05-01  0.410843 -1.670028 -0.054530  0.581192
2021-05-02  0.354471  1.276734 -1.600181 -0.763117
2021-05-03 -0.973903 -0.173350 -1.493612  0.499010
2021-05-04 -0.398096  1.286313  0.661230 -0.624158
2021-05-05  0.298105  0.504051  0.063373 -0.730589

In [90]:
df.iloc[0:3,1:3]

                   B         C
2021-04-30  1.205379 -2.455459
2021-05-01 -1.670028 -0.054530
2021-05-02  1.276734 -1.600181

In [91]:
df

                   A         B         C         D
2021-04-30 -0.402876  1.205379 -2.455459 -3.014287
2021-05-01  0.410843 -1.670028 -0.054530  0.581192
2021-05-02  0.354471  1.276734 -1.600181 -0.763117
2021-05-03 -0.973903 -0.173350 -1.493612  0.499010
2021-05-04 -0.398096  1.286313  0.661230 -0.624158
2021-05-05  0.298105  0.504051  0.063373 -0.730589

In [93]:
df.A

2021-04-30   -0.402876
2021-05-01    0.410843
2021-05-02    0.354471
2021-05-03   -0.973903
2021-05-04   -0.398096
2021-05-05    0.298105
Freq: D, Name: A, dtype: float64

In [97]:
df.A > 0

2021-04-30    False
2021-05-01     True
2021-05-02     True
2021-05-03    False
2021-05-04    False
2021-05-05     True
Freq: D, Name: A, dtype: bool

In [95]:
df[ df.A > 0 ]

                   A         B         C         D
2021-05-01  0.410843 -1.670028 -0.054530  0.581192
2021-05-02  0.354471  1.276734 -1.600181 -0.763117
2021-05-05  0.298105  0.504051  0.063373 -0.730589

In [98]:
df > 0

                A      B      C      D
2021-04-30  False   True  False  False
2021-05-01   True  False  False   True
2021-05-02   True   True  False  False
2021-05-03  False  False  False   True
2021-05-04  False   True   True  False
2021-05-05   True   True   True  False

In [99]:
df [ df > 0]

                   A         B         C         D
2021-04-30       NaN  1.205379       NaN       NaN
2021-05-01  0.410843       NaN       NaN  0.581192
2021-05-02  0.354471  1.276734       NaN       NaN
2021-05-03       NaN       NaN       NaN  0.499010
2021-05-04       NaN  1.286313  0.661230       NaN
2021-05-05  0.298105  0.504051  0.063373       NaN