<a href="https://colab.research.google.com/github/bmt0106/bmt_python/blob/main/suhang/%EA%B8%B0%EC%B4%88_2_python_basic_bsm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 01장. 표준입출력, 문자열 연산, 컬렉션 자료형(리스트, 튜플, 딕션너리)

## 1. 표준입출력

### 1) 표준출력 : print()함수

In [ ]:
# 표준출력1 - 기본적으로 개행('\n')

print('Hello World')
print('Busan')
print('Mechanical')
print('High School')

Hello World
Busan
Mechanical
High School

In [ ]:
# 표준출력2 - end 속성

print('Hello', end = ' ') # end 속성
print('World')

Hello World

In [ ]:
# 표준출력3 - 문자열 연산

print('Hello', 'World')   # 각 문자열 한칸 띄우기
print('Hello' + 'World')  # 문자열 합치기

Hello World
HelloWorld

In [ ]:
# 이스케이프 시퀀스(Escape Sequence)
# \와 특정문자를 결합하여 문자를 표시해주는 문자

print('Hello\'') # \' : 작은 따옴표 표시
print('Hello\"') # \" : 큰 따옴표 표시
print('Hello\nWorld') # \n : 개행(엔터)

Hello'
Hello"
Hello
World

### 2) 표준입력 : input()함수

In [ ]:
# 표준입력
z
x = input() # 키보드를 통한 문자열 입력하고 그 값을 x 변수에 저장
print(x) # 입력된 x 변수값 출력

안녕하세요.
안녕하세요.

In [ ]:
# 두 값을 입력받아 더한 결과를 출력하기

x = input('x 입력 : ')
y = input('y 입력 : ')

print(x, '+', y, '=', x+y)
# 잘못된 출력 => 이유 입력되는 숫자도 문자열임.

x 입력 : 1
y 입력 : 2
1 + 2 = 12

In [ ]:
# 두 값을 입력받아 더한 결과를 출력하기 - 해결

x = input('x 입력 : ')
y = input('y 입력 : ')

print(x, '+', y, '=', int(x)+int(y))

x 입력 : 1
y 입력 : 2
1 + 2 = 3

In [ ]:
# f 스트링 출력

x = input('x 입력 : ')
y = input('y 입력 : ')

print(f'{x} + {y} = {int(x)+int(y)}')

x 입력 : 1
y 입력 : 2
1 + 2 = 3

In [ ]:
# 정수 및 실수 입력
# 정수 : int(input('메시지'))
# 실수 : float(input('메시지'))
# 형변환 : 정수형 int(), 실수형 float() 함수 사용

x = int(input('x 입력 : '))
y = float(input('y 입력 : '))

print(f'{x} + {y} = {x+y}')

x 입력 : 1
y 입력 : 1.2
1 + 1.2 = 2.2

In [ ]:
# 두 정수를 입력 받아서 사칙연산을 수행하는 프로그램

# 입력부
x = int(input('첫 번째 정수 입력 : '))
y = int(input('두 번째 정수 입력 : '))

# 제어부(연산작업) + 출력부
print(x, '+', y, '=', (x + y))
print(x, '-', y, '=', (x - y))
print(x, 'x', y, '=', (x * y))
print(x, '/', y, '=', (x / y))

첫 번째 정수 입력 : 2
두 번째 정수 입력 : 3
2 + 3 = 5
2 - 3 = -1
2 x 3 = 6
2 / 3 = 0.6666666666666666

In [ ]:
# 나눈 몫과 나머지 연산을 수행하는 프로그램

# 입력부
x = int(input('첫 번째 정수 입력 : '))
y = int(input('두 번째 정수 입력 : '))

# 제어부(연산작업) + 출력부
print(x, '+', y, '=', (x + y))
print(x, '-', y, '=', (x - y))
print(x, 'x', y, '=', (x * y))
print(x, '/', y, '=', (x / y))
print(x, '//', y, '=', (x // y)) # 몫
print(x, '%', y, '=', (x % y)) # 나머지

# 구분선
print('*'*50)
print(f'{x} + {y} = {x+y}')

# f 스트링 사용한 출력부
print(f'{x} + {y} = {x + y}')
print(f'{x} - {y} = {x - y}')
print(f'{x} x {y} = {x * y}')
print(f'{x} / {y} = {x / y}')
print(f'{x} // {y} (나눈 몫) = {x // y}')
print(f'{x} % {y} (나눈 나머지) = {x % y}')

첫 번째 정수 입력 : 2
두 번째 정수 입력 : 3
2 + 3 = 5
2 - 3 = -1
2 x 3 = 6
2 / 3 = 0.6666666666666666
2 // 3 = 0
2 % 3 = 2
**************************************************
2 + 3 = 5
2 - 3 = -1
2 x 3 = 6
2 / 3 = 0.6666666666666666
2 // 3 (나눈 몫) = 0
2 % 3 (나눈 나머지) = 2

### 3) 해결문제

In [ ]:
# BMI(Body Mass Index) 지수 구하기

# 입력부
weight = int(input('weight(kg) : '))
height = int(input('height(cm) : '))

# 제어부
BMI = weight / ( height/100)**2

# 출력부
print(f'BMI : {BMI:.2f}')

weight(kg) : 80
height(cm) : 174
BMI : 26.42

In [ ]:
# 환율 계산기

# 입력부( 1000\ = 0.84$, 1$ = 1187\ )
print('ExchangeRate Calc : $ - \ ')
ExchangeRate = float(input(' 1$ ExchangeRate : '))
KRW = int(input('KRW : '))

# 제어부 : 환율계산 => 0.84$ / 1000\
USD = ExchangeRate / 1000 * KRW

# 출력부
print(f'USD : {USD:.1f} $')

ExchangeRate Calc : $ - \
 1$ ExchangeRate : 0.84
KRW : 100000
USD : 84.0 $

In [ ]:
# 섭씨(Celsius) <=> 화씨(Fahrenheit) 변환
# F = C * 1.8 + 32 / C = (F-32) / 1.8

# 입력부
celsius = float(input('Celsius : '))

# 제어부 : 변환
fahrenheit = (celsius * 1.8) + 32

# 출력부
print(f'Fahrenheit : {fahrenheit}')

Celsius : 0
Fahrenheit : 32.0

## 2. 문자열 연산

- len() : 문자열 길이 구하기
- count() : 문자의 개수 구하기
- find() : 문자가 처음 나오는 위치 반환, 없으면 -1
- index() : 문자열이 처음 나오는 위치 반환, 없으면 오류
- join() : 문자열 사이에 문자 삽입, 예:'삽입문자'.join(문자열)
- upper() : 소문자를 대문자로 변환
- lower() : 대문자를 소문자로 변환
- replace() : 문자열 바꾸기, 예:replace(원본, 변환 문자)
- split() : 문자열 나누기 - 인수가 없으면 공백(스페이스, 탭, 엔터 등 구분자)을 기준

In [ ]:
# len() : 문자열 길이

x = 'Hello Python'

len(x)
print(f'len(x) : {len(x)}')

len(x) : 12

In [ ]:
# count() : 문자 갯수

x = 'Hello Python'

x.count('o')
print(f"x.count('o') : {x.count('o')}") # 안쪽에 작은 따옴표가 있기에 바깥쪽에는 큰 따옴표가 있어야 함.

x.count('o') : 2

In [ ]:
# find() : 문자 첫 위치 반환

x = 'Hello Python'

x.find("H")
print(f'x.find("H") : {x.find("H")}')

x.find("H") : 0

In [ ]:
# index() : 문자열의 첫 위치 반환

x = 'Hello Python'

x.index("Python")
print(f'x.index("Python") : {x.index("Python")}')

x.index("Python") : 6

In [ ]:
# join() : 문자열 사이 문자 삽입

x = 'Hello Python'

z = '-'.join(x)
print(z)

H-e-l-l-o- -P-y-t-h-o-n

In [ ]:
# upper() : 소문자를 대문자로

x = 'Hello Python'

x.upper()
print(f'x.upper() : {x.upper()}')

x.upper() : HELLO PYTHON

In [ ]:
# lower() : 대문자를 소문자로

x = 'Hello Python'

x.lower()
print(f'x.lower() : {x.lower()}')

x.lower() : hello python

In [ ]:
# replace() : 문자열 바꾸기

x = 'Hello Python'

x.replace("P", "★")
print(f'x.replace("P", "★") : {x.replace("P", "★")}')

x.replace("P", "★") : Hello ★ython

In [ ]:
# split() : 문자열 나누기

x = 'Hello Python'

y = '-'.join(x)
print(y)

y.split("-")
print(f'y.split("-") : {y.split("-")}')

H-e-l-l-o- -P-y-t-h-o-n
y.split("-") : ['H', 'e', 'l', 'l', 'o', ' ', 'P', 'y', 't', 'h', 'o', 'n']

### 1) 해결문제
- 몇 개의 문장으로 구성되어 있는지 출력하시요.
- 찾고자 하는 단어를 입력 받아서 해당 단어가 몇 번 언급되었는지 확인하시요.

In [ ]:
# 코로나 어원

corona = '''
코로나(corona)는 라틴말로 왕관을 뜻하며 통상 태양을 둘러싼 외곽의 빛(광환)을 지칭한다.
코로나 바이러스라는 이름은 전자현미경으로 이 바이러스를 관찰했을 때 마치 코로나와 유사한 모양을 띠어 붙여진 이름이다.
이번에 중국의 우환에서 시작된 코로나 바이러스는 2019년에 발견된 새로운 코로나 바이러스라는 뜻으로 2019-nCov로 붙여졌다.
nCov는 novel(새로운) Cov(코로나 바이러스)라는 뜻이다.
'''
print('-'*50)
sentence = corona.count('.')
print(f'{sentence} 개의 문장으로 이루어짐')
print(corona.replace('\n','').split('.'))

print()

print('-'*50)
str = input('찾으려는 단어를 입력하시요 : ')
cnt = corona.count(str)
print(f"'{str}'(은/는) {cnt} 번 언급됨")

--------------------------------------------------
4 개의 문장으로 이루어짐
['코로나(corona)는 라틴말로 왕관을 뜻하며 통상 태양을 둘러싼 외곽의 빛(광환)을 지칭한다', '코로나 바이러스라는 이름은 전자현미경으로 이 바이러스를 관찰했을 때 마치 코로나와 유사한 모양을 띠어 붙여진 이름이다', '이번에 중국의 우환에서 시작된 코로나 바이러스는 2019년에 발견된 새로운 코로나 바이러스라는 뜻으로 2019-nCov로 붙여졌다', 'nCov는 novel(새로운) Cov(코로나 바이러스)라는 뜻이다', '']

--------------------------------------------------
찾으려는 단어를 입력하시요 : 코로나
'코로나'(은/는) 6 번 언급됨

In [ ]:
# 지코의 아무노래 가사

anysong = '''
왜들 그리 다운돼있어? 뭐가 문제야 say something
분위기가 겁나 싸해 요새는 이런 게 유행인가
왜들 그리 재미없어? 아 그건 나도 마찬가지
Tell me what I got to do 급한 대로 블루투스 켜
아무 노래나 일단 틀어 아무거나 신나는 걸로
아무렇게나 춤춰 아무렇지 않아 보이게
아무 생각 하기 싫어 아무개로 살래 잠시
I'm sick and tired of my every day, keep it up 한 곡 더
아무 노래나 일단 틀어 아무렴 어때 it's so boring
아무래도 refresh가 시급한 듯해 쌓여가 스트레스가
배꼽 빠질 만큼만 폭소하고 싶은 날이야
What up my dawgs? 어디야 너희 올 때 병맥주랑 까까 몇 개 사 와 uh
클럽은 구미가 잘 안 당겨 우리 집 거실로 빨랑 모여
외부인은 요령껏 차단 시켜 밤새 수다 떨 시간도 모자라
누군 힘들어 죽겠고 누군 축제 괜히 싱숭생숭 I want my youth back
좀 전까지 왁자지껄 하다 한 명 두 명씩 자릴 떠
왜들 그리 다운돼있어? 뭐가 문제야 say something
분위기가 겁나 싸해 요새는 이런 게 유행인가
왜들 그리 재미없어? 아 그건 나도 마찬가지
Tell me what I got to do 급한 대로 블루투스 켜
아무 노래나 일단 틀어 아무거나 신나는 걸로
아무렇게나 춤춰 아무렇지 않아 보이게
아무 생각 하기 싫어 아무개로 살래 잠시
I'm sick and tired of my every day, keep it up 한 곡 더
떠나질 못할 바엔
창밖은 쳐다도 안 봐
회까닥해서 추태를 부려도
No worries at all 이미지 왜 챙겨 그래 봤자 우리끼린데
Ooh 늦기 전에 막판 스퍼트 20대가 얼마 안 남았어
편한 옷으로 갈아입어 you look nice, get 'em high
얼핏 보면 그냥 코미디 이렇게 무해한 파티 처음이지?
만감이 교차하는 새벽 2시경 술잔과 감정이 소용돌이쳐
왜들 그리 다운돼있어? 뭐가 문제야 say something
분위기가 겁나 싸해 요새는 이런 게 유행인가
왜들 그리 재미없어? 아 그건 나도 마찬가지
Tell me what I got to do 급한 대로 블루투스 켜
아무 노래나 일단 틀어 아무거나 신나는 걸로
아무렇게나 춤춰 아무렇지 않아 보이게
아무 생각 하기 싫어 아무개로 살래 잠시
I'm sick and tired of my every day, keep it up 한 곡 더
아무 노래나 일단
La-la-la, la-la-la, la-la-la-la
La-la-la, la-la-la, la-la-la-la (You ain't gonna get a day like this)
아무 노래 아무 노래 아무 노래나 틀어봐
아무 노래 아무 노래 아무 노래나 틀어봐 (Yeah)
아무 노래 (ooh) 아무 노래 아무 노래나 틀어봐
아무 노래 아무 노래 아무 노래나 KOZ
'''

song = anysong.count('\n')
print(f'{song-1} 개의 문장으로 이루어짐')

print(anysong.replace('\n', ', ').split('\n'))
print('-'*50)

str = input('찾으려는 단어를 입력하세요 : ')
cnt = anysong.count(str)
print(f"'{str}'(은/는) {cnt} 번 언급됨.")

47 개의 문장으로 이루어짐
[", 왜들 그리 다운돼있어? 뭐가 문제야 say something, 분위기가 겁나 싸해 요새는 이런 게 유행인가, 왜들 그리 재미없어? 아 그건 나도 마찬가지, Tell me what I got to do 급한 대로 블루투스 켜, 아무 노래나 일단 틀어 아무거나 신나는 걸로, 아무렇게나 춤춰 아무렇지 않아 보이게, 아무 생각 하기 싫어 아무개로 살래 잠시, I'm sick and tired of my every day, keep it up 한 곡 더, 아무 노래나 일단 틀어 아무렴 어때 it's so boring, 아무래도 refresh가 시급한 듯해 쌓여가 스트레스가, 배꼽 빠질 만큼만 폭소하고 싶은 날이야, What up my dawgs? 어디야 너희 올 때 병맥주랑 까까 몇 개 사 와 uh, 클럽은 구미가 잘 안 당겨 우리 집 거실로 빨랑 모여, 외부인은 요령껏 차단 시켜 밤새 수다 떨 시간도 모자라, 누군 힘들어 죽겠고 누군 축제 괜히 싱숭생숭 I want my youth back, 좀 전까지 왁자지껄 하다 한 명 두 명씩 자릴 떠, 왜들 그리 다운돼있어? 뭐가 문제야 say something, 분위기가 겁나 싸해 요새는 이런 게 유행인가, 왜들 그리 재미없어? 아 그건 나도 마찬가지, Tell me what I got to do 급한 대로 블루투스 켜, 아무 노래나 일단 틀어 아무거나 신나는 걸로, 아무렇게나 춤춰 아무렇지 않아 보이게, 아무 생각 하기 싫어 아무개로 살래 잠시, I'm sick and tired of my every day, keep it up 한 곡 더, 떠나질 못할 바엔, 창밖은 쳐다도 안 봐, 회까닥해서 추태를 부려도, No worries at all 이미지 왜 챙겨 그래 봤자 우리끼린데, Ooh 늦기 전에 막판 스퍼트 20대가 얼마 안 남았어, 편한 옷으로 갈아입어 you look nice, get 'em high, 얼핏 보면 그냥 코미디 이렇게 무해한 파티 처음이지?, 만감이 교차하는 새벽 2시경 술잔과 감정이 소용돌이쳐, 왜들 그리 다운돼있어? 뭐가 문제야 say something, 분위기가 겁나 싸해 요새는 이런 게 유행인가, 왜들 그리 재미없어? 아 그건 나도 마찬가지, Tell me what I got to do 급한 대로 블루투스 켜, 아무 노래나 일단 틀어 아무거나 신나는 걸로, 아무렇게나 춤춰 아무렇지 않아 보이게, 아무 생각 하기 싫어 아무개로 살래 잠시, I'm sick and tired of my every day, keep it up 한 곡 더, 아무 노래나 일단, La-la-la, la-la-la, la-la-la-la, La-la-la, la-la-la, la-la-la-la (You ain't gonna get a day like this), 아무 노래 아무 노래 아무 노래나 틀어봐, 아무 노래 아무 노래 아무 노래나 틀어봐 (Yeah), 아무 노래 (ooh) 아무 노래 아무 노래나 틀어봐, 아무 노래 아무 노래 아무 노래나 KOZ, "]
--------------------------------------------------
찾으려는 단어를 입력하세요 : 아무 노래
'아무 노래'(은/는) 17 번 언급됨.

## 3. 컬렉션 자료형
- 리스트, 튜플, 딕션너리, 집합
- 여러 요소를 묶어서 처리할 수 있는 자료형
- 각 요소에 접근하는 방법이 제공

### 1) 리스트

- 리스트 생성 : [] 또는 리스트 함수 이용
- 인덱싱
    - 요소의 선택은 0부터 시작되는 인덱스로 접근
    - 리스트명[인덱스]
- 슬라이싱
    - 요소의 일부분 선택
    - 리스트명[시작인덱스:종료인덱스] 
    - 종료 인덱스는 포함되지 않음
- 연산
    - \+ 연산 : 리스트와 리스트 연결
    - \* 연산 : 리스트 요소 반복
- 추가
    - 리스트명.append(추가요소) : 마지막에 추가
    - 리스트명.insert(인덱스, 추가요소) : 해당 인덱스에 요소 추가
- 삭제
    - 리스트명.pop() : 마지막 요소 삭제
    - 리스트명.pop(인덱스) : 해당 인덱스 요소 삭제
    - 리스트명.remove(요소값) : 해당 요소값 삭제, 해당 값이 없으면 오류
- 수정
    - 리스트명[인덱스] = 변경값
- 위치 반환
    - 리스트명.index(요소값)
    - 해당 요소값의 위치를 반환
    - 여러 개 요소가 존재하면 첫 번째 위치 반환하고 없으면 오류
- 요소 개수 구하기
    - 리스트명.count(요소값)
- 정렬
    - 리스트명.sort() : 오름차순
    - 리스트명.sort(reverse=True) : 내림차순
- 뒤집기
    - 리스트명.reverse() : 요소를 역순으로 뒤집어 줌

In [ ]:
# 리스트 생성 : [] or list()

lst = []
print(lst)

lst = list()
print(lst)

lst = [10, 20, 30]
print(lst)

[]
[]
[10, 20, 30]

In [ ]:
# 인덱싱 : 요소는 인덱스로 접근(0부터 시작)

lst = [10, 20, 30]

print(f'lst[0] : {lst[0]}')    # 인덱스 0 : 첫번째 요소
print(f'lst[-1] : {lst[-1]}')  # 인덱스 -1  마지막 요소

lst[0] : 10
lst[-1] : 30

In [ ]:
# 슬라이싱 : 요소의 일부분 선택

lst = [10, 20, 30]

print(lst[:2]) # 처음부터 (두번째인자 - 1)까지 출력

[10, 20]

In [ ]:
# 리스트의 연산

lst1 = [10, 20]
lst2 = [100, 200]

lst3 = lst1 + lst2
print(lst3)

lst4 = lst3 * 3
print(lst4)

[10, 20, 100, 200]
[10, 20, 100, 200, 10, 20, 100, 200, 10, 20, 100, 200]

In [ ]:
# 리스트의 추가
# 리스트명.append(추가요소) : 마지막에 추가
# 리스트명.insert(인덱스, 추가요소) : 해당 인덱스에 요소 추가

lst = ['a', 'b', 'c']

lst.append('d')
print(lst)

lst.insert(0,'z')
print(lst)

['a', 'b', 'c', 'd']
['z', 'a', 'b', 'c', 'd']

In [ ]:
# 리스트의 삭제
# 리스트명.pop() : 마지막 요소 삭제
# 리스트명.pop(인덱스) : 해당 인덱스 요소 삭제
# 리스트명.remove(요소값) : 해당 요소값 삭제, 해당 값이 없으면 오류

lst = ['a', 'b', 'c']

print(lst)
print(lst.pop())
print(lst)

['a', 'b', 'c']
c
['a', 'b']

In [ ]:
# 리스트 수정
# 리스트명[인덱스] = 변경값

lst = ['a', 'b', 'c']

lst[0] = 'e'

print(f'리스트 수정:{lst}')

리스트 수정:['e', 'b', 'c']

In [ ]:
# 리스트 위치 반환
# 리스트명.index(요소값) : 해당 요소값의 위치를 반환, 없으면 오류

lst = ['a', 'b', 'c']

print(f'b의 위치 lst.index("b") : {lst.index("b")}')

b의 위치 lst.index("b") : 1

In [ ]:
# 리스트 요소 개수 구하기
# 리스트명.count(요소값)

lst = ['a', 'b', 'c']

print(f'c의 개수 lst.count("c") : {lst.count("c")}')

c의 개수 lst.count("c") : 1

In [ ]:
# 리스트 정렬
# 리스트명.sort() : 오름차순
# 리스트명.sort(reverse=True) : 내림차순

lst = ['c', 'a', 'b']

lst.sort()
print(f'리스트 정렬(오름차순) lst.sort() : {lst}')

lst.sort(reverse=True)
print(f'리스트 정렬(내림차순) lst.sort(reverse=True) : {lst}')

리스트 정렬(오름차순) lst.sort() : ['a', 'b', 'c']
리스트 정렬(내림차순) lst.sort(reverse=True) : ['c', 'b', 'a']

In [ ]:
# 리스트 뒤집기
# 리스트명.reverse() : 요소를 역순으로 뒤집어 줌

lst = ['c', 'a', 'b']

lst.reverse()

print(f'리스트 뒤집기 lst.reverse() : {lst}')

리스트 뒤집기 lst.reverse() : ['b', 'a', 'c']

### 2) 튜플

- 튜플의 각 요소는 순서를 가지고 있음.
- 괄호로 작성되며 각 요소는 쉼표로 구분
- 요소를 추가, 수정, 삭제 불가능
- 한번 결정된 요소는 변경 불가능
- 인덱싱과 슬라이싱은 리스트와 동일
- \+ 와 * 연산은 리스트와 동일
- 각 요소에 변수 할당 가능
    - 예) x, y = (10, 20)

In [ ]:
# 인덱싱과 슬라이싱은 리스트와 동일

tp = (10, 20, 30)

print(f'tp[0] = {tp[0]}')
print(f'tp[:2] = {tp[:2]}')

tp[0] = 10
tp[:2] = (10, 20)

In [ ]:
# + 와 * 연산은 리스트와 동일

tp1 = (10, 20)
tp2 = (30, 40)

print(f'tp1 : {tp1}')
print(f'tp2 : {tp2}')

tp3 = tp1 + tp2
print(f'tp3 = tp1 + tp2 : {tp1 + tp2}')
tp
tp4 = tp3 * 2
print(f'tp4 = tp3 * 2 : {tp3 * 2}')

tp1 : (10, 20)
tp2 : (30, 40)
tp3 = tp1 + tp2 : (10, 20, 30, 40)
tp4 = tp3 * 2 : (10, 20, 30, 40, 10, 20, 30, 40)

In [ ]:
# 각 요소에 변수 할당 가능

tpx, tpy = (10, 20)

print(f'tpx = {tpx}, tpy = {tpy}')

tpx = 10, tpy = 20

In [ ]:
# 요소 추가, 수정, 삭제 불가능 : 튜플의 특징
# 한 번 결정된 요소는 변경 불가능

tp = (10, 20, 30)
tp[0] = 100
# 변경 불가능 하기에 에러 발생

TypeError: ignored

### 3) 딕셔너리

- 특징
  - 키(key)와 값(value) 쌍을 요소로 가짐
  - 중괄호로 작성되며 각 요소는 쉼표로 구분
  - 순서 없음
  - 키는 변경할 수 없으며 값은 변경가능
- 딕셔너리 접근
  - 특정 요소 값 : 딕셔너리명[키]
  - 요소 키 컬렉션 : 딕셔너리명.keys()
  - 요소 값 컬렉션 : 딕셔너리명.values()
  - 키와 요소 컬렉션은 list() 생성자로 리스트로 변환가능
- 요소 추가
  - 딕셔너리명[추가키] = 값
- 요소 수정
  - 딕셔너리명[키] = 값
- 요소 삭제
  - del 딕셔너리명[키]
  - 딕셔너리명.pop(키)

In [ ]:
# 딕셔너리
dt = {'a':200, 'b':150, 'c':100}

print(f'딕셔너리 dt : {dt}')

딕셔너리 dt : {'a': 200, 'b': 150, 'c': 100}

In [ ]:
# 딕셔너리 키

dt = {'a':200, 'b':150, 'c':100}

print(f'딕셔너리 키 list(dt.keys()) : {list(dt.keys())}')

딕셔너리 키 list(dt.keys()) : ['a', 'b', 'c']

In [ ]:
# 딕셔너리 값

dt = {'a':200, 'b':150, 'c':100}

print(f'딕셔너리 값 list(dt.values()) : {list(dt.values())}')

딕셔너리 값 list(dt.values()) : [200, 150, 100]

In [ ]:
# 딕셔너리 접근

dt = {'a':200, 'b':150, 'c':100}

print(f"딕셔너리 a 값 dt['a']: {dt['a']}")

딕셔너리 a 값 dt['a']: 200

In [ ]:
# 딕셔너리 추가

dt = {'a':200, 'b':150, 'c':100}

dt['d'] = 30

print(dt)

{'a': 200, 'b': 150, 'c': 100, 'd': 30}

In [ ]:
# 딕셔너리 삭제

dt = {'a':200, 'b':150, 'c':100}

del dt['b']

print(dt)

{'a': 200, 'c': 100}

### 4) 집합

- 특징
  - 중복 없는 요소로만 구성
  - 중괄호로 작성되며 각 요소는 쉼표로 구분
  - 순서 없음
- 생성자 : set()
  - 리스트나 튜플의 중복 요소 제거
- 요소 추가
  - 집합명.add(요소) : 하나의 요소 추가
  - 집합명.update(추가집합) : 여러 요소를 추가
- 요소 삭제
  - 집합명.remove(요소값) : 하나의 요소 삭제
  - 집합명.clear() : 모든 요소 삭제
- 집합 연산
  - 교집합 : &
  - 합집합 :|
  - 차집합 : -

In [ ]:
# 집합

a = (1, 2, 2, 3)
b = [10, 20, 30, 30]

print(f'{a}의 type : {type(a)}')
print(f'{b}의 type : {type(b)}')

b = set(b)
print(f'{b}의 type : {type(b)}')

(1, 2, 2, 3)의 type : <class 'tuple'>
[10, 20, 30, 30]의 type : <class 'list'>
{10, 20, 30}의 type : <class 'set'>

In [ ]:
# 집합 요소 추가

a = (1, 2, 2, 3)
b = [10, 20, 30, 30]

a = set(a)
b = set(b)

a.add(100)
b.update({100,200,300})

print(a)
print(b)

{1, 2, 3, 100}
{20, 100, 200, 10, 300, 30}

In [ ]:
# 집합 요소 삭제

a = (1, 2, 2, 3)
b = [10, 20, 30, 30]

a = set(a)
b = set(b)

a.add(100)
b.update({100,200,300})

a.remove(100)
print(a)

a.clear()
print(a)

{1, 2, 3}
set()

In [ ]:
# 집합 연산

a = (1, 2, 2, 3)
b = [10, 20, 30, 30]

a = set(a)
b = set(b)

a.add(100)
b.update({100,200,300})

a.clear()

a.update({100, 200, 500})

print(f'a집합 = {a}, b집합 = {b}')
print(f'교집합 a & b = {a & b}')
print(f'합집합 a | b = {a | b}')
print(f'차집합 a - b = {a - b}')
print(f'차집합 b - a = {b - a}')

a집합 = {200, 100, 500}, b집합 = {20, 100, 200, 10, 300, 30}
교집합 a & b = {200, 100}
합집합 a | b = {100, 200, 10, 300, 500, 20, 30}
차집합 a - b = {500}
차집합 b - a = {10, 20, 300, 30}

컬렉션 데이터 활용
- 컬렉션 데이터 모든 요소에 접근
- for 요소변수 in 컬렉션명 :
- zip() 함수 : 동일한 개수로 이루어진 자료형을 묶어 주는 역할을 하는 함수

In [ ]:
# 컬렉션 요소 접근

lst = [10, 50, 30]
tp = ('a', 'b', 'c')

for item in lst:
  print(item, end = ' ')

print()

for item in tp:
  print(item, end = ' ')

10 50 30
a b c

In [ ]:
# 딕션너리 만들기 : dict()함수와 zip()함수 이용

dt = dict(zip(tp, lst))
print(dt)

for item in dt :
  print(f'{item} : {dt[item]}')

{'a': 10, 'b': 50, 'c': 30}
a : 10
b : 50
c : 30

내장함수
- len(컬렉션명) : 컬렉션 요소 개수
- max(컬렉션명) : 가장 큰 요소값 반환
  - 딕션너리인 경우는 키 값 중 가장 큰 요소 반환
- min(컬렉션명) : 가장 작은 요소값 반환
  - 딕션너리인 경우는 키 값 중 가장 작은 요소 반환
- sum(컬렉션명) : 수치 요소로 이루어진 컬렉션 요소의 합
  - 딕션너리인 경우는 키 값의 합
- sorted(컬렉션명) : 컬렉션 요소 정렬
  - 딕션너리인 경우는 키 값을 정렬하여 키 리스트 반환

In [ ]:
# 내장함수

lst = [10, 50, 30]

print(f'{lst}의 요소 개수 : {len(lst)}')
print(f'{lst}의 최대값 : {max(lst)}')
print(f'{lst}의 최소값 : {min(lst)}')
print(f'{lst}의 합계 : {sum(lst)}')
print(f'{lst}의 정렬 : {sorted(lst)}')
print(f'lst {lst}')

[10, 50, 30]의 요소 개수 : 3
[10, 50, 30]의 최대값 : 50
[10, 50, 30]의 최소값 : 10
[10, 50, 30]의 합계 : 90
[10, 50, 30]의 정렬 : [10, 30, 50]
lst [10, 50, 30]

### 5) 해결문제

In [ ]:
# 해결문제 1

# 기상청에서 제공하는 2020년 3월 1일에서 3월 31일까지의 평균기온 정보를 참고하여 다음을 구하시오
# - 최고기온인 날 
# - 최저기온인 날
# - 3월 평균기온

# 부산 3월 기온
temp = [10.8,  8.5,  8.7,  7.9,  5.1,
         8.1,  8.2, 10.4,   11,  9.9,
         7.8,  9.5, 11.6,  8.2,  7.7,
         6.6, 11.1, 12.2, 12.6, 10.4,
        13.7, 14.1, 12.6, 11.5,   13,
        14.5, 13.7,  9.4, 10.4, 11.6, 12.9]

print(f'최고기온 : {max(temp) : 6.2f} 도')
print(f'최저기온 : {min(temp) : 6.2f} 도')
print(f'평균기온 : {sum(temp) / len(temp) : 6.2f} 도')

최고기온 :  14.50 도
최저기온 :   5.10 도
평균기온 :  10.44 도

In [ ]:
# 해결문제 2

# 기상청 공공데이터 사이트(https://data.kma.go.kr/stcs/grnd/grndTaList.do?pgmNo=70)에서 2019년 1월에서 12월까지
# 부산 평균기온을 조사해서 2019년의 전체 평균기온을 구하시오.

avgtemp = [ 4.5,  6.6, 10.5, 13.4, 
           19.3, 21.1, 24.3, 27.0, 
           23.1, 18.6, 13.0,  7.0]

print(f'평균기온 : {sum(avgtemp) / len(avgtemp) : 6.2f} 도')

평균기온 :  15.70 도

In [ ]:
# 해결문제 3

# 다음은 2010~2019년 기온 데이터(년도, 평균, 최소, 최대)이다.
# - 홀수년도만 출력
# - 년도 출력하기
# - 년도와 평균기온 딕셔너리 만들기
# - 평균기온 최소일 때 해당년도 추출하기 예) 2012년 - 14.5도
# - 최고기온 최대일 때 해당년도 추출하기 예) 2016년 - 19.6도
# - 최저기온 최소일 때 해당년도 추출하기 예) 2012년 - 18.6도

y    = [2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019]
yavg = [14.9, 14.6, 14.5, 15.3, 15.1, 15.4, 15.7, 15.2, 15.1, 15.7]
ymax = [34.1,   33, 34.5,   35, 32.9, 33.5, 37.3, 36.2, 36.4,   35]
ymin = [  19, 18.8, 18.6, 19.5, 19.2, 19.5, 19.8, 19.6, 19.2, 19.8]

# 주석 처리 명령어 : ctrl + /
# 번호줄 명령어 : ctrl + M + L
# for i in range(len(y)):
#   y[i] = str(y[i])

# 홀수년도
yodd = [item for item in y if item % 2 == 1]
print(yodd)

# 년도
y = [str(item) for item in y]
print(y)

# 년도와 평균기온 딕셔너리 만들기
ytemp = dict(zip(y, yavg))
print(ytemp)

print()

# 년도와 평균기온 딕셔너리에서 평균기온 최소값과 그 년도를 추출하기
mintemp = min(ytemp.values())
ryear = []

for year, temp in ytemp.items():
  if temp == mintemp:
    ryear.append(year)

print(f'평균기온 최소 {ryear}: {mintemp} 도')
print('-'*50)

# ymax 최대값
maxv = max(ymax)

# 최대값이 있는 위치
ylist = []
for i in range(len(ymax)):
  if ymax[i] == maxv :
    ylist.append(y[i])

# y의 요소 인덱싱
print(f'최고기온 최대 {ylist}: {maxv} 도')
print('-'*50)

# ymin 최소값
minv = min(ymin)

# 최소값이 있는 위치
ymlist = []
for i in range(len(ymin)):
  if ymin[i] == minv : ymlist.append(y[i])

print(f'최저기온 최저 {ymlist}: {minv} 도')
print('-'*50)

[2011, 2013, 2015, 2017, 2019]
['2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019']
{'2010': 14.9, '2011': 14.6, '2012': 14.5, '2013': 15.3, '2014': 15.1, '2015': 15.4, '2016': 15.7, '2017': 15.2, '2018': 15.1, '2019': 15.7}

평균기온 최소 ['2012']: 14.5 도
--------------------------------------------------
최고기온 최대 ['2016']: 37.3 도
--------------------------------------------------
최저기온 최저 ['2012']: 18.6 도
--------------------------------------------------

# 02장. 제어문, 함수, 파일

## 1. 제어문(조건, 반복)

### 1) 조건문 - if
- 프로그램의 실행 흐름을 바꾸고자 할 때 사용하는 제어문
- 사용자가 지정한 조건에 따라 실행할 문장을 결정함

if ... : elif ... :
- if 조건문 뒤에는 반드시 콜론(:)
- 바로 아래 문장부터 if문에 속하는 모든 문장에 들여쓰기를 해야 함.
- 파이선에는 다른 언어에 있는 switch 문이 존재하지 않음.
- if ... elif ... elif ... 문으로 수행
- pass : def 문이나 if 문처럼 코드 블록을 본문으로 갖는 표현에서 본문을 비워 둘 때 사용

In [ ]:
# 홀수 짝수 구분 - 1

x = int(input('값 입력 : '))

if x % 2 == 0:
  print(f'{x}는 짝수')

값 입력 : 3

In [ ]:
# 홀수 짝수 구분 - 2

x = int(input('값 입력 : '))

if x % 2 == 0:
  print(f'{x}(은/는) 짝수')
else :
  print(f'{x}(은/는) 홀수')

값 입력 : 5
5(은/는) 홀수

In [ ]:
# 성적처리

x = float(input('성적입력 : '))

if x >= 70:
  print(f'{x} : Pass')
elif x >= 60:
  print(f'{x} : 재시험')
else:
  print(f'{x} : fail')

성적입력 : 100
100.0 : Pass

비교연산자
  - \> , <, ==, != 
  - True, False 값 반환

논리연산자
  - and : 양변의 인수가 둘 다 참일 때 True
  - or : 양변의 인수 중 하나 이상 참일 때 True
  - not : 반전

멤버십 연산자 : in
  - 문자열, 리스트, 튜플과 같이 연속적인 자료구조에 속한 멤버를 확인하기 위한 연산자

In [ ]:
str = '안녕하세요.'

'안' in str

True

In [ ]:
lst = list(range(5))

5 in lst

False

#

In [ ]:
d = {'a':1, 'b':2}

'a' in d

True

In [ ]:
2 in d.values()

True

### 2) 반복문 - for
- 컬렉션으로부터 하나씩 요소를 가져와, 루프 내의 문장들을 실행

In [ ]:
# 문자열

str = '안녕하세요'

for item in str:
  print(item)

안
녕
하
세
요

In [ ]:
# 리스트

lst = list(range(5))

for item in lst:
  print(item)

0
1
2
3
4

In [ ]:
# 딕셔너리

d = {'a':1, 'b':2}

for item in d:
  print(item, end=' ')
print()
for item in d.values():
  print(item, end=' ')
print()
for key, value in d.items():
  print(key, value)

a b
1 2
a 1
b 2

range()함수
- range(시작 숫자, 종료 숫자, step)
- 결과는 시작 숫자부터 종료 숫자 바로 앞 숫자까지 컬렉션 생성
- 값을 확인하기 위해서는 순서가 있는 리스트나 튜플 컬렉션으로 변환해야 함
- 시작 숫자를 생략하면 0부터 생성
- step을 생략하면 1씩 증가

In [ ]:
xlist = range(10)
print(type(xlist))
print(xlist)

for item in xlist:
  print(item, end=' ')

<class 'range'>
range(0, 10)
0 1 2 3 4 5 6 7 8 9

In [ ]:
xlist = list(range(10))
print(type(xlist))
print(xlist)

for item in xlist:
  print(item, end=' ')

<class 'list'>
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
0 1 2 3 4 5 6 7 8 9

In [ ]:
xlist = ['1', '2']
xlist = [int(item) for item in xlist]
print(xlist)

[1, 2]

### 3) 반복문 - while
- while 키워드 다음의 조건식이 참일 경우 계속 while 안의 블럭을 실행
- break 문 : 반복문 안에서 루프를 빠져나오기 위해 사용
- continue 문 : 루프 블록의 나머지 문장들을 실행하지 않고 다음 루프로 직접 돌아가게 함.

In [ ]:
i = 1

while i <= 5 :
  print(i)
  i = i + 1

1
2
3
4
5

In [ ]:
i = 0

while i <= 5 :
  i = i + 1
  if i == 2 : continue
  
  print(i)

  if i == 4 : break

1
3
4

### 4) 해결문제

In [ ]:
# 5개의 숫자를 입력받아서
# 리스트에 저장하고 
# 짝수와 홀수 리스트를 만드시오.

lst_even = list()
lst_odd = []

for i in range(5) :
  num = int(input('숫자 입력 : '))

  if num % 2 == 0 :
    lst_even.append(num)
  else :
    lst_odd.append(num)

print(lst_even)
print(lst_odd)

숫자 입력 : 5
숫자 입력 : 2
숫자 입력 : 10
숫자 입력 : 7
숫자 입력 : 1
[2, 10]
[5, 7, 1]

In [ ]:
# 지역별 식중독 지수와 대응 요령 딕션너리를 참고하여, 해당 지역을 입력받아서
# 대응 요령을 출력하시오.

- 위험 : 86 이상
  - 설사, 구토 등 식중독 의심 증상이 있으면 의료기관을 방문하여 의사 지시에 따름
- 경고 : 71 이상 86 미만
  - 조리도구는 세척, 소독 등을 거쳐 세균 오염을 방지하고 유통기한, 보관 방법 등을 확인하여 음식물 조리, 보관에 각별히 주의하여야 함
- 주의 : 55 이상 71미만
  - 조리 음식은 중심부까지 75도(어패류 85도)로 1분 이상 완전히 익히고 외부로 운반할 때에는 가급적 아이스박스 등을 이용하여 10도 이하에서 보관 및 운반
- 관심 : 55미만
  - 화장실 사용 후, 귀가 후, 조리 전에 손 씻기를 생활화

In [ ]:
area = { '서울시':57, '부산시':62, '대구시':59,
         '인천시':59, '강화군':58, '서해5도':64,
         '광주시':62, '대전시':60, '울산시':53,
         '세종시':58 }

report = { '위험':'설사, 구토 등 식중독 의심 증상이 있으면 의료기관을 방문하여 의사 지시에 따름',
           '경고':'조리도구는 세척, 소독 등을 거쳐 세균 오염을 방지하고 유통기한, 보관 방법 등을 확인하여 음식물 조리, 보관에 각별히 주의하여야 함',
           '주의':'조리 음식은 중심부까지 75도(어패류 85도)로 1분 이상 완전히 익히고 외부로 운반할 때에는 가급적 아이스박스 등을 이용하여 10도 이하에서 보관 및 운반',
           '관심':'화장실 사용 후, 귀가 후, 조리 전에 손 씻기를 생활화'
          }

# 딕셔너리 만들기
areashow = {}

for key, value in area.items():
  if value >= 86: check = '위험'
  elif value >= 71 : check = '경고'
  elif value >= 55 : check = '주의'
  else : check = '관심'

  areashow[key] = check

print(areashow)
print('지역목록',list(area.keys()))
indata = input('지역목록의 지역을 입력하세요 : ')
print(f'{indata} : {area[indata]} {areashow[indata]} \n {report[areashow[indata]]}')

{'서울시': '주의', '부산시': '주의', '대구시': '주의', '인천시': '주의', '강화군': '주의', '서해5도': '주의', '광주시': '주의', '대전시': '주의', '울산시': '관심', '세종시': '주의'}
지역목록 ['서울시', '부산시', '대구시', '인천시', '강화군', '서해5도', '광주시', '대전시', '울산시', '세종시']
지역목록의 지역을 입력하세요 : 부산시
부산시 : 62 주의
 조리 음식은 중심부까지 75도(어패류 85도)로 1분 이상 완전히 익히고 외부로 운반할 때에는 가급적 아이스박스 등을 이용하여 10도 이하에서 보관 및 운반

## 2. 함수

- 특정 기능을 하나로 묶어서 따로 관리하기 위해 사용
  - 반복되는 내용을 효율적으로 처리
  - 코드의 가독성을 높임
- 함수의 종류
  - 내장함수 : 파이썬에서 기본으로 제공하는 함수
  - 모듈함수 : import를 해서 가져다가 사용할 수 있는 함수
  - 사용자정의함수 : 사용자가 함수를 직접 작성
- parameter
  - 스크립트 파일이 메인 프로그램으로 사용될 때와 모듈로 사용될 때를 구분하기 위한 용도
  - if \_\_name\_\_ == '\_\_main__' :

In [ ]:
def cal(num1, num2, op) : 
  ans = 0
  if   op == '+' : ans = num1 + num2
  elif op == '-' : ans = num1 - num2
  elif op == 'x' : ans = num1 * num2
  elif op == '/' : ans = num1 / num2

  show(num1, num2, op, ans)

def numInput() :
  data = int(input('숫자를 입력하세요 : '))
  return data

def strInput(msg) : 
  data = input(msg)
  return data

def show(num1, num2, op, ans) :
  print(f'{num1}{op}{num2} = {ans}')

if __name__ == '__main__' :
  num1 = numInput()
  num2 = numInput()
  op = strInput('연산자를 입력하세요 : ')
  cal(num1, num2, op)

숫자를 입력하세요 : 1
숫자를 입력하세요 : 2
연산자를 입력하세요 : /
1/2 = 0.5

### 1) 해결문제

In [ ]:
# 가로와 세로를 입력받아서 정사각형인지 직사각형인지 판단하고 면적을 구하시요.

width = int(input('width : '))
height = int(input('height : '))

area = width * height

if width == height : print(f'정사각형 넓이 : {area}')
else : print(f'직사각형 넓이 : {area}')

width : 10
height : 5
직사각형 넓이 : 50

In [ ]:
# 표준체중과 BMI 지수를 구하고 BMI에 따른 비만 여부를 판단하는 프로그램을 작성하세요.

- 입력 : 체중(kg), 키(cm), 남녀(남1, 여2)
- 판단기준 
  - 18.5 미만 : 저체중(Underweight)
  - 18.5 이상 25 미만 : 정상(Normal range)
  - 25 이상 : 비만(Overweight)
- 표준체중, BMI 지수, 비만 판단은 함수로 작성
- 출력
  - 표준체중 = 키(m) x 키(m) x BMI(여자 21, 남자 22)
  - BMI = 체중(kg) / (키(m) x 키(m))

In [ ]:
weight = float(input('체중 : '))
height_cm = float(input('키 : '))
height_m = height_cm / 100
gender = int(input('성별(남:1, 여:2) : '))

bmi = weight / (height_m**2)

print('-'*50)

def std_weight(gender) :
  if gender == 1 :
    std = (height_m**2)*22
    print(f'표준체중(남) : {std:.2f} kg')
  else :
    std = (height_m**2)*21
    print(f'표준체중(여) : {std:.2f} kg')
  
  return std

def check(bmi) :
  if bmi < 18.5 :
    print('저체중(Underweight')
  elif bmi >= 18.5 and bmi < 25 :
    print('정상(Normal range')
  else :
    print('비만(Overweight)')

std_weight(gender)
print(f'체질량지수(BMI) : {bmi:.2f}')
check(bmi)

체중 : 80
키 : 174
성별(남:1, 여:2) : 1
--------------------------------------------------
표준체중(남) : 66.61 kg
체질량지수(BMI) : 26.42
비만(Overweight)

## 3. 파일(file)

- 파일생성
  - 파일객체 = open(파일이름, 파일열기모드, encoding='UTF-8')
  - 파일명이 한글일 경우는 encoding='UTF-8'dmf tkdyd
  - 파일열기모드 : r(읽기), w(쓰기), a(추가)
- 파일출력함수
  - write()
- 파일입력함수
  - readline() : 파일의 첫 번째 줄을 읽어 출력하는 경우
  - readlines() : 파일의 모든 라인을 읽어서 각각의 줄을 요소로 갖는 리스트로 리턴
  - read() : 파일의 내용 전체를 문자열로 리턴
- 파일 닫기
  - 파일객체.close()

In [ ]:
# 파일출력

path = '/content/drive/My Drive/DATA/'

f = open(path+'test.txt','w')

inData = input('기록할 내용1 : ')
f.write(inData + '\n')

inData = input('기록할 내용2 : ')
f.write(inData + '\n')

f.close()


# 파일 추가 기록

f = open(path+'test.txt','a')

inData = input('기록할 내용3 : ')
f.write(inData)

f.close()

기록할 내용1 : 안녕하세요
기록할 내용2 : 반갑습니다
기록할 내용3 : 오늘도 좋은 하루!

In [ ]:
# 구글 클래스룸의 자료 가져오기

path = '/content/drive/My Drive/DATA/'

fp = open(path+'지역평균기온.txt')
data = fp.read()
fp.close()
print(data)

서울,20
부산,26
대구,24
인천,24
광주,25
대전,22
울산,26
세종,23
경기,24
강원,23
충북,26
충남,22
전북,24
전남,23
경북,28
경남,29
제주,26

In [ ]:
# 파일입력

path = '/content/drive/My Drive/DATA/'

fp = open(path+'지역평균기온.txt', 'r', encoding='utf-8')
data = fp.readlines()
fp.close()

dt = {}
for line in data :
  line = line.replace('\n','')
  items = line.split(',')
  dt[items[0]] = int(items[1])

dt

{'강원': 23,
 '경기': 24,
 '경남': 29,
 '경북': 28,
 '광주': 25,
 '대구': 24,
 '대전': 22,
 '부산': 26,
 '서울': 20,
 '세종': 23,
 '울산': 26,
 '인천': 24,
 '전남': 23,
 '전북': 24,
 '제주': 26,
 '충남': 22,
 '충북': 26}

In [ ]:
# with ... as 구문 사용하기

with open('지역평균기온.txt', 'r') as fp :
  data = fp.readlines()
print(data)

['서울,20\n', '부산,26\n', '대구,24\n', '인천,24\n', '광주,25\n', '대전,22\n', '울산,26\n', '세종,23\n', '경기,24\n', '강원,23\n', '충북,26\n', '충남,22\n', '전북,24\n', '전남,23\n', '경북,28\n', '경남,29\n', '제주,26']

### 1) 해결문제

In [ ]:
# Colab에서 한글 글꼴 쓰기
!sudo apt-get install -y fonts-nanum
!sudo fc-cache -fv
!rm ~/.cache/matplotlib -rf
# 이후 런타임 재실행

# import matplotlib.pyplot as plt
# plt.rc('font', family='NanumBarunGothic') # 한글 글꼴 설정

In [ ]:
# 지역평균기온.txt 파일을 읽어서 딕션너리를 만들고, 그래프를 표시하세요.

fp = open('test.csv')
data = fp.readlines()
fp.close()

dt = {}

for line in data : 
  line = line.replace('\n', '')
  items = line.split(',')
  dt[items[0]] = int(items[1])
print(dt)

area = list(dt.keys())
temp = list(dt.values())
print(area)
print(temp)

# 그래프 그리기

import matplotlib.pyplot as plt

plt.rc('font', family='NanumBarunGothic') # 한글 글꼴 설정

plt.figure(figsize=(10, 5))
plt.plot(area, temp, 'go--', color='skyblue')
plt.xticks(rotation=0)
plt.title('지역평균기온')
plt.show()

ValueError: ignored